<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
  </head>
  <title>Add Patient</title>

  <link
    href="/public/static/vendor/fontawesome-free/css/all.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <link href="/public/static/css/addPatient.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet"
  />

  <!-- Custom styles for this template-->
  <link href="/public/static/css/sb-admin-2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.0/axios.min.js"></script>

  <body class="bg-gradient-white text-dark, page-top">
    <div id="google_translate_element"></div>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>
        <%- include('../views/partials/redundant.ejs');%>

        <div class="row">
            <div class="limiter">
                <form action="/patient/add" method="post" id="addpatient">
                 <!-- <div class="container-login100"> -->
                        <div style="color: black; font-weight:bold ;"> 
                            <!-- <div class="login100-pic js-tilt" data-tilt>
                                <img src="images/img-01.png" alt="IMG">
                            </div> -->
                            <br/>
                            <center>
                                <h2 style="font-weight:bold;">Patient Admission Form</h2>
                            </center>

                            <% if (locals.errors) { %>
                                <% for(var i=0; i<errors.length; i++) {%>
                                    <div style="color: red;" role="alert">
                                        <%= errors[i] %>
                                      </div>
                                 <% } %>
                              <br/>
                        <% } %>

                            <div class="wrap-input100 validate-input">
                                
                                
                               
                                              
                                    <label for="Name" style="font-size:18px">Name:</label>
                                    <input class="input100" type="text" name="name" value="<%= data.name  %>" placeholder="Enter Name" required>
                                    
                                    
                            </div>
                                
                                <!--Age-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="Age" style="font-size:18px">Age:</label>
                                    <input class="input100" type="number" name="age" placeholder="Enter Age" value="<%= data.age  %>" required>
                                    
                                </div>
    
                                <!--Parity-->
    
                                <div class="wrap-input100 validate-input"value>
                                    <label for="parity" style="font-size:18px">Parity:</label>
                                    <input class="input100" type="number" name="parity" placeholder="Enter Parity" value="<%= data.parity %>" required>
                                    
                                    
                                </div>
                                
                                <!--Alive-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="alive" style="font-size:18px">Alive Children</label>
                                    <input class="input100" type="number" name="alive" value="<%= data.alive %>" placeholder="Enter Number Of Alive Children" required>
                                    
                                    
                                </div>
                                
                                <!--Edd-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="edd" style="font-size:18px">EDD:</label>
                                    <input class="input100" type="date" value="<%= data.edd %>" name="edd" placeholder="Enter edd" required>
                                    
                                    
                                </div>
    
                                <!--sb-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="sb" style="font-size:18px">SB:</label>
                                    <input class="input100" type="number" value="<%= data.sb %>" name="sb" placeholder="Enter SB" required>
                                    
                                    
                                </div>
    
                                <!--nnd-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="NND" style="font-size:18px">NND:</label>
                                    <input class="input100" type="number" value="<%= data.nnd %>" name="nnd" placeholder="Enter NND" required>
                                    
                    
                                </div>
    
                                <!--Risk Factors-->
                                <div class="wrap-input100 validate-input"value>
                                    <label for="riskfactors" style="font-size:18px">Enter Risk Factors</label>
                                    <input class="input100" type="string" value="<%= data.riskFactors %>" name="riskFactors" placeholder="Enter risk factors">
                                    
                                    
                                </div>
    
                                <!--ContractionStartTime-->
    
                                <div class="wrap-input100 validate-input"value>
                                    <label for="ContractionStartTime" style="font-size:18px">Contraction Start Time</label>
                                    <input class="input100" type="datetime-local"  value="<%= data.contractionStartTime %>" name="contractionStartTime" placeholder="Enter The Contraction Start Time">
                                    
                                    
                                </div>
    
                                <!--Membrane Rupture Time-->
    
                                <div class="wrap-input100 validate-input"value>
                                    <label for="membraneRuptureTime" style="font-size:18px">Membrane Rupture Time</label>
                                    <input class="input100" type="datetime-local" value="<%= data.membraneRuptureTime %>" name="membraneRuptureTime" placeholder="Enter The Contraction Start Time">
                                    
                                    
                                </div>
    
                                <!--Height-->
    
    
                                <div class="wrap-input100 validate-input"value>
                                    <label for="Height" style="font-size:18px">Height</label>
                                    <input class="input100" type="number" name="height" value="<%= data.height %>" placeholder="Enter Height" required>
                                    
                                    
                                </div>
                                <div class="container my-3 bg-light">
                                    <div class="col-md-12 text-center">
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                        <input class="btn btn-secondary" type="reset" value="Reset">
                                    </div>
                                </div>
                     
                         </div>
                    <!-- </div>  -->
                </form>
            </div>
        </div>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
    </body>


</html>
